In [1]:
import pandas as pd

# Load the datasets into Pandas DataFrames
dataset1 = pd.read_csv('../input_data/dataset1.csv')
dataset2 = pd.read_csv('../input_data/dataset2.csv')

# Merge the datasets on the 'counterparty' column
merged_data = pd.merge(dataset1, dataset2, on='counter_party')

In [2]:
# Calculate the sum of values where status is ARAP and ACCR
arap_sum = merged_data.loc[merged_data['status'] == 'ARAP'].groupby(['legal_entity', 'counter_party', 'tier'])['value'].sum().reset_index()
arap_sum.columns = ['legal_entity', 'counter_party', 'tier', 'ARAP_sum']
accr_sum = merged_data.loc[merged_data['status'] == 'ACCR'].groupby(['legal_entity', 'counter_party', 'tier'])['value'].sum().reset_index()
accr_sum.columns = ['legal_entity', 'counter_party', 'tier', 'ACCR_sum']

In [3]:
max_rating = merged_data.groupby(['legal_entity', 'counter_party', 'tier'])['rating'].max().reset_index()

In [4]:
result = max_rating.merge(arap_sum, on=['legal_entity', 'counter_party', 'tier'], how='left').merge(accr_sum, on=['legal_entity', 'counter_party', 'tier'], how='left')

In [5]:
result['ARAP_sum'] = result['ARAP_sum'].fillna(0)
result['ACCR_sum'] = result['ACCR_sum'].fillna(0)

In [6]:
legal_entity_total = result.groupby('legal_entity').agg({'ARAP_sum': 'sum', 'ACCR_sum': 'sum'}).reset_index()
legal_entity_total['counter_party'] = 'Total'
legal_entity_total['tier'] = 'Total'

In [7]:
counter_party_total = result.groupby('counter_party').agg({'ARAP_sum': 'sum', 'ACCR_sum': 'sum'}).reset_index()
counter_party_total['legal_entity'] = 'Total'
counter_party_total['tier'] = 'Total'

In [8]:
tier_total = result.groupby('tier').agg({'ARAP_sum': 'sum', 'ACCR_sum': 'sum'}).reset_index()
tier_total['legal_entity'] = 'Total'
tier_total['counter_party'] = 'Total'

In [10]:
result = pd.concat([result, legal_entity_total, counter_party_total, tier_total], ignore_index=True)

In [11]:
result

   legal_entity counter_party   tier  rating  ARAP_sum  ACCR_sum
0            L1            C1      1     3.0      40.0       0.0
1            L1            C3      3     6.0       5.0       0.0
2            L1            C4      4     6.0      40.0     100.0
3            L2            C2      2     3.0      20.0      40.0
4            L2            C3      3     2.0       0.0      52.0
5            L2            C5      5     6.0    1000.0     115.0
6            L3            C3      3     4.0       0.0     145.0
7            L3            C6      6     6.0     145.0      60.0
8            L1         Total  Total     NaN      85.0     100.0
9            L2         Total  Total     NaN    1020.0     207.0
10           L3         Total  Total     NaN     145.0     205.0
11        Total            C1  Total     NaN      40.0       0.0
12        Total            C2  Total     NaN      20.0      40.0
13        Total            C3  Total     NaN       5.0     197.0
14        Total            C4  Total     NaN      40.0     100.0
15        Total            C5  Total     NaN    1000.0     115.0
16        Total            C6  Total     NaN     145.0      60.0
17        Total         Total      1     NaN      40.0       0.0
18        Total         Total      2     NaN      20.0      40.0
19        Total         Total      3     NaN       5.0     197.0
20        Total         Total      4     NaN      40.0     100.0
21        Total         Total      5     NaN    1000.0     115.0
22        Total         Total      6     NaN     145.0      60.0
23           L1         Total  Total     NaN      85.0     100.0
24           L2         Total  Total     NaN    1020.0     207.0
25           L3         Total  Total     NaN     145.0     205.0
26        Total            C1  Total     NaN      40.0       0.0
27        Total            C2  Total     NaN      20.0      40.0
28        Total            C3  Total     NaN       5.0     197.0
29        Total            C4  Total     NaN      40.0     100.0
30        Total            C5  Total     NaN    1000.0     115.0
31        Total            C6  Total     NaN     145.0      60.0
32        Total         Total      1     NaN      40.0       0.0
33        Total         Total      2     NaN      20.0      40.0
34        Total         Total      3     NaN       5.0     197.0
35        Total         Total      4     NaN      40.0     100.0
36        Total         Total      5     NaN    1000.0     115.0
37        Total         Total      6     NaN     145.0      60.0

In [12]:
result = result[['legal_entity', 'counter_party', 'tier', 'rating', 'ARAP_sum', 'ACCR_sum']]

In [13]:
result

   legal_entity counter_party   tier  rating  ARAP_sum  ACCR_sum
0            L1            C1      1     3.0      40.0       0.0
1            L1            C3      3     6.0       5.0       0.0
2            L1            C4      4     6.0      40.0     100.0
3            L2            C2      2     3.0      20.0      40.0
4            L2            C3      3     2.0       0.0      52.0
5            L2            C5      5     6.0    1000.0     115.0
6            L3            C3      3     4.0       0.0     145.0
7            L3            C6      6     6.0     145.0      60.0
8            L1         Total  Total     NaN      85.0     100.0
9            L2         Total  Total     NaN    1020.0     207.0
10           L3         Total  Total     NaN     145.0     205.0
11        Total            C1  Total     NaN      40.0       0.0
12        Total            C2  Total     NaN      20.0      40.0
13        Total            C3  Total     NaN       5.0     197.0
14        Total            C4  Total     NaN      40.0     100.0
15        Total            C5  Total     NaN    1000.0     115.0
16        Total            C6  Total     NaN     145.0      60.0
17        Total         Total      1     NaN      40.0       0.0
18        Total         Total      2     NaN      20.0      40.0
19        Total         Total      3     NaN       5.0     197.0
20        Total         Total      4     NaN      40.0     100.0
21        Total         Total      5     NaN    1000.0     115.0
22        Total         Total      6     NaN     145.0      60.0
23           L1         Total  Total     NaN      85.0     100.0
24           L2         Total  Total     NaN    1020.0     207.0
25           L3         Total  Total     NaN     145.0     205.0
26        Total            C1  Total     NaN      40.0       0.0
27        Total            C2  Total     NaN      20.0      40.0
28        Total            C3  Total     NaN       5.0     197.0
29        Total            C4  Total     NaN      40.0     100.0
30        Total            C5  Total     NaN    1000.0     115.0
31        Total            C6  Total     NaN     145.0      60.0
32        Total         Total      1     NaN      40.0       0.0
33        Total         Total      2     NaN      20.0      40.0
34        Total         Total      3     NaN       5.0     197.0
35        Total         Total      4     NaN      40.0     100.0
36        Total         Total      5     NaN    1000.0     115.0
37        Total         Total      6     NaN     145.0      60.0