In [1]:
import pandas as pd

In [2]:
dataset1 = pd.read_csv("../input_data/dataset1.csv")
dataset2 = pd.read_csv("../input_data/dataset2.csv")

In [4]:
merged_df = pd.merge(dataset1, dataset2, on="counter_party")

In [5]:
max_rating = merged_df.groupby(["legal_entity", "counter_party", "tier"])["rating"].max().reset_index()
sum_arap = merged_df[merged_df["status"] == "ARAP"].groupby(["legal_entity", "counter_party", "tier"])["value"].sum().reset_index()
sum_accr = merged_df[merged_df["status"] == "ACCR"].groupby(["legal_entity", "counter_party", "tier"])["value"].sum().reset_index()

In [6]:
max_rating

  legal_entity counter_party  tier  rating
0           L1            C1     1       3
1           L1            C3     3       6
2           L1            C4     4       6
3           L2            C2     2       3
4           L2            C3     3       2
5           L2            C5     5       6
6           L3            C3     3       4
7           L3            C6     6       6

In [7]:
sum_arap

  legal_entity counter_party  tier  value
0           L1            C1     1     40
1           L1            C3     3      5
2           L1            C4     4     40
3           L2            C2     2     20
4           L2            C5     5   1000
5           L3            C6     6    145

In [8]:
sum_accr

  legal_entity counter_party  tier  value
0           L1            C4     4    100
1           L2            C2     2     40
2           L2            C3     3     52
3           L2            C5     5    115
4           L3            C3     3    145
5           L3            C6     6     60

In [19]:
output_df = pd.merge(max_rating, sum_arap, on=["legal_entity", "counter_party", "tier"])
output_df = pd.merge(output_df, sum_accr, on=["legal_entity", "counter_party", "tier"])

In [20]:
output_df

  legal_entity counter_party  tier  rating  value_x  value_y
0           L1            C4     4       6       40      100
1           L2            C2     2       3       20       40
2           L2            C5     5       6     1000      115
3           L3            C6     6       6      145       60

In [21]:
total_rows = pd.DataFrame({
    "legal_entity": output_df["legal_entity"].unique(),
    "counter_party": "Total",
    "tier": "Total",
    "max_rating": output_df.groupby("legal_entity")["rating"].transform("sum"),
    "sum_arap": output_df.groupby("legal_entity")["value_x"].transform("sum"),
    "sum_accr": output_df.groupby("legal_entity")["value_y"].transform("sum")
})

ValueError: array length 3 does not match index length 4

In [12]:
total_rows

  legal_entity counter_party   tier
0           L1         Total  Total
1           L2         Total  Total
2           L3         Total  Total

In [14]:
total_rows["max_rating"] = output_df.groupby("legal_entity")["rating"].transform("sum")
total_rows["sum_arap"] = output_df.groupby("legal_entity")["value_x"].transform("sum")
total_rows["sum_accr"] = output_df.groupby("legal_entity")["value_y"].transform("sum")

In [15]:
total_rows

  legal_entity counter_party   tier  max_rating  sum_arap  sum_accr
0           L1         Total  Total           6        40       100
1           L2         Total  Total           9      1020       155
2           L3         Total  Total           9      1020       155

In [17]:
output_df = pd.concat([output_df, total_rows], ignore_index=True)
output_df

,legal_entity,counter_party,tier,rating,value_x,value_y,max_rating,sum_arap,sum_accr
0,L1,C4,4,6.0,40.0,100.0,NaN,NaN,NaN
1,L2,C2,2,3.0,20.0,40.0,NaN,NaN,NaN
2,L2,C5,5,6.0,1000.0,115.0,NaN,NaN,NaN
3,L3,C6,6,6.0,145.0,60.0,NaN,NaN,NaN
4,L1,Total,Total,NaN,NaN,NaN,6.0,40.0,100.0
5,L2,Total,Total,NaN,NaN,NaN,9.0,1020.0,155.0
6,L3,Total,Total,NaN,NaN,NaN,9.0,1020.0,155.0
7,L1,Total,Total,NaN,NaN,NaN,6.0,40.0,100.0
8,L2,Total,Total,NaN,NaN,NaN,9.0,1020.0,155.0
9,L3,Total,Total,NaN,NaN,NaN,9.0,1020.0,155.0

In [18]:
total_rows = pd.DataFrame({
    "legal_entity": output_df["legal_entity"].unique(),
    "counter_party": output_df["counter_party"].unique(),
    "tier": "Total"
})

ValueError: All arrays must be of the same length